%div.span-24.showgrid
  .span-20
    = link_to "Home", root_path
  .span-4.last
    %ul.hmenu
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

